*{
    margin:0;
    padding:0;
}
body{
  margin: auto;
  padding:30px;
}
..fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn{
    padding: 8px;
    color:#006A50;
    border:1px solid #006A50;
    
  }
  .first-title{
    
    color:#B3B3B3;
    margin-bottom:10px;


  }
  .title{
   font-weight: bold;
   font-size:3rem;
    margin-bottom:10px;

  }
  
  .banner{
    display: flex;
    background-color:#C6E4D6 ;
    border-radius:10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn-primary{
    background-color:#006A50;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 8px;
    color:#FFFFFF;
  }
  